* {
  /* selector universal */
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

.header {
  background-color: bisque;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container-menu .logo img {
  margin: 20px auto;
  display: inline;
  width: 150px;
  height: auto;
}

.header .header__menu ul {
  list-style: none;
  /* sacar puntos de la lista */
  text-transform: uppercase;
}

.header .header__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__menu ul li a {
  text-decoration: none;
  /* quitar subrayado  */
  color: black;
  background-color: pi;
  padding: 15px 25px;
  text-align: center;
  margin: 10px auto;
}

.header .header__menu ul li a:hover {
  color: white;
  background-color: pink;
}

.intro {
  background-image: url(https://d22fxaf9t8d39k.cloudfront.net/83913aa8f8509822cf33e697f2463a2588dd5c5f7f769629ef1a92e80399549320247.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  padding: 5%;
}

.intro h1 {
  font-size: 5em;
  text-align: center;
  color: salmon;
  font-family: 'Reenie Beanie', cursive;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
}

.intro h2 {
  font-size: 3em;
  text-align: center;
  font-style: italic;
  font-weight: 200;
}

.seccionNovedades {
  border-radius: 15px;
  border: black solid 2px;
  padding: 5%;
  margin: 50px 50px;
  background-color: cornsilk;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulonovedades" "producto1" "producto2" "producto3" "producto4" "producto5" "producto6" "producto7" "producto8";
  grid-gap: 5px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 80px 150px 150px 150px 150px 150px 150px 150px 150px;
      grid-template-rows: 80px 150px 150px 150px 150px 150px 150px 150px 150px;
}

.seccionNovedades .tituloNovedades {
  font-family: 'Festive', cursive;
  font-size: 3em;
  text-align: center;
  font-size: 30px;
  color: red;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulonovedades;
}

.seccionNovedades .seccionNovedades__producto1 {
  background-color: black;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: producto1;
}

.seccionNovedades .seccionNovedades__producto2 {
  background-color: black;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: producto2;
}

.seccionNovedades .seccionNovedades__producto3 {
  background-color: black;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: producto3;
}

.seccionNovedades .seccionNovedades__producto4 {
  background-color: black;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: producto4;
}

.seccionNovedades .seccionNovedades__producto5 {
  background-color: black;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: producto5;
}

.seccionNovedades .seccionNovedades__producto6 {
  background-color: black;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: producto6;
}

.seccionNovedades .seccionNovedades__producto7 {
  background-color: black;
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: producto7;
}

.seccionNovedades .seccionNovedades__producto8 {
  background-color: black;
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: producto8;
}

#pie__pagina {
  background-image: -webkit-gradient(linear, left top, right top, from(blue), to(green));
  background-image: linear-gradient(to right, blue, green);
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pie__pagina .pie__pagina__menu ul {
  list-style: none;
}

#pie__pagina .pie__pagina__menu ul li a {
  text-decoration: none;
  color: white;
}

table {
  border: blue 2px solid;
}

th {
  background-color: black;
  color: white;
}

td {
  background-color: teal;
  color: white;
}

@media screen and (min-width: 768px) {
  .seccionNovedades {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulonovedades titulonovedades" "producto1 producto2" "producto3 producto4" "producto5 producto6" "producto7 producto8";
    grid-gap: 5px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 80px 150px 150px 150px 150px;
        grid-template-rows: 80px 150px 150px 150px 150px;
  }
  .seccionNovedades .tituloNovedades {
    font-family: 'Festive', cursive;
    font-size: 3em;
    text-align: center;
    font-size: 30px;
    color: red;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: titulonovedades;
  }
  .seccionNovedades .seccionNovedades__producto1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: producto1;
  }
  .seccionNovedades .seccionNovedades__producto2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: producto2;
  }
  .seccionNovedades .seccionNovedades__producto3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: producto3;
  }
  .seccionNovedades .seccionNovedades__producto4 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: producto4;
  }
  .seccionNovedades .seccionNovedades__producto5 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: producto5;
  }
  .seccionNovedades .seccionNovedades__producto6 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: producto6;
  }
  .seccionNovedades .seccionNovedades__producto7 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: producto7;
  }
  .seccionNovedades .seccionNovedades__producto8 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: producto8;
  }
}

@media screen and (min-width: 1440px) {
  .seccionNovedades {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulonovedades titulonovedades titulonovedades titulonovedades" "producto1 producto2 producto3 producto4" "producto5 producto6 producto7 producto8";
    grid-gap: 5px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 80px 150px 150px;
        grid-template-rows: 80px 150px 150px;
  }
  .seccionNovedades .tituloNovedades {
    font-family: 'Festive', cursive;
    font-size: 3em;
    text-align: center;
    font-size: 30px;
    color: red;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: titulonovedades;
    -webkit-animation: aparecer 10s;
            animation: aparecer 10s;
  }
  .seccionNovedades .seccionNovedades__producto1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: producto1;
  }
  .seccionNovedades .seccionNovedades__producto2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: producto2;
  }
  .seccionNovedades .seccionNovedades__producto3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: producto3;
  }
  .seccionNovedades .seccionNovedades__producto4 {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: producto4;
  }
  .seccionNovedades .seccionNovedades__producto5 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: producto5;
  }
  .seccionNovedades .seccionNovedades__producto6 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: producto6;
  }
  .seccionNovedades .seccionNovedades__producto7 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: producto7;
  }
  .seccionNovedades .seccionNovedades__producto8 {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    grid-area: producto8;
  }
}

/* Esto es una transformacion */
.logo img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

/* Es una naimacion */
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translate(150px, 0);
            transform: translate(150px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translate(150px, 0);
            transform: translate(150px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.carrusel {
  width: 80%;
  margin: 30px auto;
}
/*# sourceMappingURL=desafio.css.map */